a {
  color: #087acc;
  font-weight: normal;
  text-decoration: none;
}

p a:not(.additional-asset__link--download):not(.asset-viewer-inline__download_all_link):not(.asset-viewer-inline__open_link):not(.reference__title):not(.doi):not(.reference__authors_link):not(.trigger):not(.popup__link):not(.see-more-link) {
  border-bottom: 1px dotted #212121;
  color: #212121;
  text-decoration: none;
}

.article-section__body ul:not(.reference__abstracts) a:not(.article-download-links-list__secondary_link) {
  border-bottom: 1px dotted $color;
  color: #212121;
  text-decoration: none;
}

content-header {
  padding-bottom: 24px;
}

.tabbed-nav__main {
  grid-column: 1/10;
  grid-row: 1;
  margin-bottom: 36px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

.tabbed-nav__list {
  display: flex;
  justify-content: center;
  margin: 0;
}

.tabbed-nav__list_secondary_column {
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
}

.tabbed-nav__list_item {
  color: #888;
  font-family: Noto Sans, Arial, Helvetica, sans-serif;
  list-style: none;
  padding: 24px 18px;
}

.tabbed-nav__list_item.active {
  border-bottom: 4px solid #087acc;
  color: #212121;
  list-style: none;
  padding: 24px 18px;
}

.tabbed-nav__list_item.active a {
  color: #212121;
}

.tabbed-nav__list_item a {
  color: #888;
}

.tabbed-nav__list_item a:hover {
  color: #212121;
}